<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.vorobiev.sk" platformBuildVersionCode="19" platformBuildVersionName="4.4.2-1456859">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:theme="@style/AppTheme">
        <activity android:configChanges="keyboard|keyboardHidden|orientation" android:label="@string/app_name" android:name=".MainActivity" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|orientation" android:name=".ActivityBuyResource" android:screenOrientation="landscape"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation" android:name=".ActivitySellResource" android:screenOrientation="landscape"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation" android:name=".ActivityTableCost" android:screenOrientation="landscape"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation" android:name=".ActivityPause" android:screenOrientation="landscape"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation" android:name=".ActivityScore" android:screenOrientation="landscape"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation" android:name=".ActivityHelp" android:screenOrientation="landscape"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation" android:name=".ActivityAuthors" android:screenOrientation="landscape"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation" android:name=".ActivityFinish" android:screenOrientation="landscape"/>
    </application>
</manifest>
